<div class="container">
<div class="jumbotron text-center" id="homeJumbo">
<%= image_tag '/images/gravatarProfile.jpeg', alt: 'Profile Picture', class: 'img-responsive center-block' %>
<br>
<h1 class="vollkron"><b>Jaspreet Singh</b></h1>
  <h3 class="vollkron">Hi! I am a senior studying <strong>Electrical Engineering and Computer
    Science</strong> at <strong>UC Berkeley</strong>. I enjoy building software and being a part of the tech community. I
    am currently
    looking for full time software engineering positions, feel free to check out my resume below and contact me.
  </h3><br>
  <a  href="<%= resume_path %>"><button type="button" class="vollkron btn btn-primary btn-lg"><span class="introButtons">Resume</span></button></a>
  <a  href="<%= contact_path %>"><button type="button" class="vollkron btn btn-info btn-lg"><span class="introButtons">Contact</span></button></a>
</div>
</div>