<%= image_tag '/images/gravatarProfile.jpeg', alt: 'Profile Picture', class: 'img-responsive center-block' %>


<p class="vollkron">
  Hi! I'm currently a senior at UC Berkeley studying Electrical Engineering and Computer Science.
  This past summer, my software engineering internship at YP gave me what some might call a
  builder's bug. From writing the first few lines of code of the application I worked on,
  to deploying multiple machines running the application to DigitalOcean's cloud, to writing a
  custom load balancer using Digital Ocean's API that would make scaling and administrating
  the application much easier, I found myself fascinated with all the different moving parts of a
  typical web application. What excites me the most is knowing that I only touched on a small part
  of what's possible, and I've continued building and exploring the software world ever since.
  In my spare time I enjoy attending Hackathons, working out, and PWNing n00bs at Mario Kart 8.
</p>
<br>
<p class="vollkron">
  I'm currently seeking full-time Software Engineer positions, please take a look at
  my resume to better understand
  my skill set and feel free to contact me so if you see a fit. Thanks for visiting my website!
</p>