<div class="jumbotron text-center" id="homeJumbo">
<%= image_tag '/images/gravatarProfile.jpeg', alt: 'Profile Picture', class: 'img-responsive center-block' %>
<br>
<h1 class="vollkron"><b>Jaspreet Singh</b></h1>
  <h3 class="vollkron">Software Developer, UC Berkeley EECS '15</h3><br>
  <a href="<%= resume_path %>"><button type="button" class="vollkron btn btn-primary btn-lg">Hire Me!</button></a>
  <a href="<%= contact_path %>"><button type="button" class="vollkron btn btn-info btn-lg">Contact</button></a>
</div>