body {
  background: asset-url('/images/home-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



@font-face {
  font-family: "Vollkron";
  src: asset-url('/assets/fonts/Vollkorn-Regular.ttf');
}

//.hidden { display: none; }


.socialButton{
  padding-left: 20px;
  padding-right: 20px;
}
.jumbotron{
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  /* IE 5-7 */
  filter: alpha(opacity=90);
  /* Netscape */
  -moz-opacity: 0.9;
  /* Safari 1.x */
  -khtml-opacity: 0.9;
  /* Good browsers */
  opacity: 0.9;
  background-color: aliceblue;
}

.vollkron{
  font-family: "Vollkron";
}

#profilePic{
  padding-bottom: 10px;
}
p{
  font-size: 24px;
  line-height: 40px;
  text-align: justify;
}


//header stuff
#logo {
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

#firstName{
  color: royalblue;
}

#lastName{
  color: gold;
}

//footer stuff
#footerTitle{
  line-height: 3;
  color: whitesmoke;
}

#footer{
  width: 100%;
  position:absolute;
  bottom: 0;
  left: 0;
}

//mobile Handling
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
  body{
    background-size: 100% 100%;
    background: none;
  }

  #email{
    font-size: 40px;
  }
  p{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }
}