@font-face {
  font-family: "Vollkron";
  src: url(/assets/fonts/Vollkorn-Regular.ttf);
}

.vollkron{
  font-family: "Vollkron";
}

#profilePic{
  padding-bottom: 10px;
}
p{
  font-size: 24px;
  line-height: 40px;
  text-align: justify;
}
#logo {
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

#firstName{
  color: royalblue;
}

#lastName{
  color: gold;
}

#footerTitle{
  line-height: 3;
}

#footer{
  height: 60px;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
  p{
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
  }
}