#logo {
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

#firstName{
  color: royalblue;
}

#lastName{
  color: gold;
}

#footerTitle{
  line-height: 3;
}