<div id="footer">
<footer class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom text-center" >
    <div class="container">
        <small id="footerTitle"> Made with <span class="glyphicon glyphicon-heart"></span> at Cal. </small>
     </div>
  </nav>
</footer>
</div>